body {
  font-family: "Verdana", sans-serif;
  font-size: @regular;
  color: @textColor;
  background: @bgBody;
}
.site-wrap{
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a{
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{
  max-width: 1000px;
}
.read-more{
  .inline-block;
  margin-bottom: 15px;
  text-decoration: underline;
  color: @textColor;
  &:hover{
    text-decoration: none;
  }
}
.tags{
  &__list{
    .inline-block;
    li{
      .inline-block;
      a{
        text-decoration: underline;
        color: @titleColor;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
/*main-header__logo
  ===============================*/
.logo{
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 24px;
  color: #716b5b;
  span{
    color: #a73700;
  }
}